<img src="../../img/ods_stickers.jpg" />

## 人口收入普查数据探索

---

本次挑战中，你需要运用 Pandas 探索数据，并回答有关 [<i class="fa fa-external-link-square" aria-hidden="true"> Adult 数据集</i>](https://archive.ics.uci.edu/ml/datasets/Adult) 的几个问题。Adult 数据集是一个关于人口收入普查的数据集，其包含多个特征，目标值为类别类型。

首先，我们加载并预览该数据集。

In [3]:
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
warnings.filterwarnings('ignore')

In [4]:
data = pd.read_csv(
    'adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

DataFrame 前面的列均为特征，最后的 `salary` 为目标值。接下来，你需要自行补充必要的代码来回答相应的挑战问题。

---

<i class="fa fa-question-circle" aria-hidden="true"> 问题：</i>数据集中有多少男性和女性？

In [14]:
# 通过补充代码得到问题的答案，挑战最终需自行对照末尾的参考答案来评判，系统无法自动评分
male = data[data['sex'] == 'Male'].shape[0] #male
female = data[data['sex'] == 'Female'].shape[0] #female
print(male, female)

21790 10771

In [15]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

<i class="fa fa-question-circle" aria-hidden="true"> 问题：</i>数据集中女性的平均年龄是多少？

In [19]:
female = data[data['sex'] == 'Female']
female.mean()

age                   36.858230
fnlwgt            185746.311206
education-num         10.035744
capital-gain         568.410547
capital-loss          61.187633
hours-per-week        36.410361
dtype: float64

<i class="fa fa-question-circle" aria-hidden="true"> 问题：</i>数据集中德国公民的比例是多少？

In [22]:
data['native-country'].value_counts(normalize=True)['Germany']

0.004207487485028101

<i class="fa fa-question-circle" aria-hidden="true"> 问题：</i>年收入超过 50K 和低于 50K 人群年龄的平均值和标准差是多少？

In [29]:
over = data[data['salary'] == '>50K']
over.describe()
below = data[data['salary'] == '<=50K']
below.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,24720.000000,2.472000e+04,24720.000000,24720.000000,24720.000000,24720.000000
mean,36.783738,1.903409e+05,9.595065,148.752468,53.142921,38.840210
std,14.020088,1.064823e+05,2.436147,963.139307,310.755769,12.318995
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,25.000000,1.176060e+05,9.000000,0.000000,0.000000,35.000000
50%,34.000000,1.794650e+05,9.000000,0.000000,0.000000,40.000000
75%,46.000000,2.390230e+05,10.000000,0.000000,0.000000,40.000000
max,90.000000,1.484705e+06,16.000000,41310.000000,4356.000000,99.000000

<i class="fa fa-question-circle" aria-hidden="true"> 问题：</i>年收入超过 50K 的人群是否都接受过高中以上教育？

In [32]:
over['education'].value_counts() #no

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

<i class="fa fa-question-circle" aria-hidden="true"> 问题：</i>使用 `groupby` 和 `describe` 统计不同种族和性别人群的年龄分布数据。

In [40]:
race = data.groupby(by=['race', 'sex'])[['age']].describe()
# print(race)

<i class="fa fa-question-circle" aria-hidden="true"> 问题：</i>统计男性高收入人群中已婚和未婚（包含离婚和分居）人群各自所占数量。

In [47]:
male_over = data[(data['salary'] == '>50K') & (data['sex'] == 'Male')]
male_over['marital-status'].value_counts()['Divorced']

284

<i class="fa fa-question-circle" aria-hidden="true"> 问题：</i>统计数据集中最长周工作小时数及对应的人数，并计算该群体中收入超过 50K 的比例。

In [60]:
longest = data['hours-per-week'].describe()
# print(longest)
max_hours = longest['max']
longest = data[data['hours-per-week'] == max_hours]
# print(longest.head())
longest['salary'].value_counts(normalize=True)

<=50K    0.705882
>50K     0.294118
Name: salary, dtype: float64

<i class="fa fa-question-circle" aria-hidden="true"> 问题：</i>计算各国超过和低于 50K 人群各自的平均周工作时长。

In [65]:
over = data[data['salary'] == '>50K']
below = data[data['salary'] == '<=50K']
over_describe = over.groupby(by=['native-country'])[['hours-per-week']].mean()
below_describe = below.groupby(by=['native-country'])[['hours-per-week']].mean()
print(over_describe)
print(below_describe)

                    hours-per-week
native-country
?                        45.547945
Cambodia                 40.000000
Canada                   45.641026
China                    38.900000
Columbia                 50.000000
Cuba                     42.440000
Dominican-Republic       47.000000
Ecuador                  48.750000
El-Salvador              45.000000
England                  44.533333
France                   50.750000
Germany                  44.977273
Greece                   50.625000
Guatemala                36.666667
Haiti                    42.750000
Honduras                 60.000000
Hong                     45.000000
Hungary                  50.000000
India                    46.475000
Iran                     47.500000
Ireland                  48.000000
Italy                    45.400000
Jamaica                  41.100000
Japan                    47.958333
Laos                     40.000000
Mexico                   46.575758
Nicaragua                37.500000
Peru                     40.000000
Philippines              43.032787
Poland                   39.000000
Portugal                 41.500000
Puerto-Rico              39.416667
Scotland                 46.666667
South                    51.437500
Taiwan                   46.800000
Thailand                 58.333333
Trinadad&Tobago          40.000000
United-States            45.505369
Vietnam                  39.200000
Yugoslavia               49.500000
                            hours-per-week
native-country
?                                40.164760
Cambodia                         41.416667
Canada                           37.914634
China                            37.381818
Columbia                         38.684211
Cuba                             37.985714
Dominican-Republic               42.338235
Ecuador                          38.041667
El-Salvador                      36.030928
England                          40.483333
France                           41.058824
Germany                          39.139785
Greece                           41.809524
Guatemala                        39.360656
Haiti                            36.325000
Holand-Netherlands               40.000000
Honduras                         34.333333
Hong                             39.142857
Hungary                          31.300000
India                            38.233333
Iran                             41.440000
Ireland                          40.947368
Italy                            39.625000
Jamaica                          38.239437
Japan                            41.000000
Laos                             40.375000
Mexico                           40.003279
Nicaragua                        36.093750
Outlying-US(Guam-USVI-etc)       41.857143
Peru                             35.068966
Philippines                      38.065693
Poland                           38.166667
Portugal                         41.939394
Puerto-Rico                      38.470588
Scotland                         39.444444
South                            40.156250
Taiwan                           33.774194
Thailand                         42.866667
Trinadad&Tobago                  37.058824
United-States                    38.799127
Vietnam                          37.193548
Yugoslavia                       41.600000

---

<div style="background-color: #e6e6e6; margin-bottom: 10px; padding: 1%; border: 1px solid #ccc; border-radius: 6px;text-align: center;"><a href="https://nbviewer.jupyter.org/github/shiyanlou/mlcourse-answers/tree/master/" title="挑战参考答案"><i class="fa fa-file-code-o" aria-hidden="true"> 查看挑战参考答案</i></a></div>